name: HiBench CI SPARK_2.4_HADOOP_2.7

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Restore cached dependencies
        uses: actions/cache@v3
        with:
          path: |
            # /var/cache/apt/archives/*.deb
            ~/.m2/repository
            ~/opt
          key: ${{ runner.os }}_spark_2.4_hadoop_2.7
          restore-keys: |
            ${{ runner.os }}-
      - name: Cluster spark_2.4_hadoop_2.7_hive_0.14
        run: |
          ${{github.workspace}}/actions/build_and_run_all_spark_2.4_hadoop_2.7_hive_0.14_part_2.sh
